/*style things*/
html{
	min-height:100%;
	
}
body {
	min-height:100%;
	/*background: linear-gradient(darkgray,white) no-repeat;*/
	/*background: linear-gradient(#D28F33,#D4895E) no-repeat;*/
	/*background: #D28F33;*/
	/*background: #FADC7A;*/
	/*background: linear-gradient(green,#D4895E,#D28F33) no-repeat;*/
	background: linear-gradient(white,lightblue,lightblue,green);
	/*background: linear-gradient(lightgray,white);*/
	/*background-image:url(../images/lake.JPG);
	background-repeat: no-repeat;
  background-size: contain;*/
}

/**{
	text-shadow: 2px 2px 5px gray;
}*/

/* set default text color to everything in the body. can easily be changed in later css */
body *{ 
	color: black;
	
}

h1{
	color:black;
	font-family: arial;
	
}
h2{
	color: black;
}
/*footer things*/
html, body, footer, a, b, li, i{
	margin:0px;
	padding:0px;
}

footer{
 	box-sizing:border-box;
	position:relative;
 	bottom:0px;
 	height: 12vh;
 	width:100%;
 	background:rgb(100,100,100,0.5);
 	margin:0px;
 	padding:0px;
 	display:flex;
 	border:3px groove rgb(200,200,200,0.5);
 	border-radius:20px 20px 0px 0px;
}


/*Nav bar things*/
.navBar{
	
	width: 100%;
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	
	background-color: #333;
	/*background: linear-gradient(to right, #8B5F2B, #E5840D, #872607);*/
	
}

	.navBar li {
		
	     float: left;
		 border-right: 1px solid #bbb
	}
	.navBar li a {
		display: block;
		color: white;
		text-align: center;
		padding: 4px 16px;
		text-decoration: none;
	}
	.navBar li:last-child {
		float: left;
		 border-right: 0px;
	}

@media(max-width:600px){
	ul.navBar{
		column-count:2;
	}
	ul.navBar li{
		float:none;
		border-right: 0px solid transparent;
	}
	.navBar li:last-child {
		float: none;

	}
}

/*stuff to make nav bar work correctly*/
*{
    padding-left:10px;
}


