/*style things*/
html{
	min-height:100%;
}
body {
	min-height:100%;
	background: linear-gradient(white,lightblue,lightblue,green);
	
}

/* set default text color to everything in the body. can easily be changed in later css */
body *{ 
	color: black;
	padding-left:1em;
}

h1{
	font-family: arial;
}
/*remove extra spacing*/
html, body, footer, a, b, li, i img{
	margin:0px;
	padding:0px;
}

/*footer things*/
footer{
 	box-sizing:border-box;
	position:relative;
 	bottom:0px;
 	height: 12vh;
 	width:100%;
 	background:rgb(100,100,100,0.5);
 	display:flex;
 	border:3px groove rgb(200,200,200,0.5);
 	border-radius:20px 20px 0px 0px;
}


/*Nav bar things*/
.navBar{
	width: 100%;
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	
	background-color: #333;
}
.navBar li {
	
     float: left;
	 border-right: 1px solid #bbb
}
.navBar li a {
	display: block;
	color: white;
	text-align: center;
	padding: 4px 16px;
	text-decoration: none;
}
.navBar li:last-child {
	float: left;
	 border-right: 0px;
}

/*adjust for small screens*/
@media(max-width:600px){
	ul.navBar{
		column-count:2;
	}
	ul.navBar li{
		float:none;
		border-right: 0px solid transparent;
	}
	.navBar li:last-child {
		float: none;

	}
}


